<%layout("./layouts/bp.ejs")%>
<body>
    <section class="hero">
        <h1>Jarurat Care</h1>
        <h2>Healthcare Support Platform</h2>
        <p>Connect patients with volunteers and healthcare support quickly.</p>
        <div class="hero-btns">
          <a href="/support" class="btn-primary">Request Help</a>
          <a href="/volunteer" class="btn-outline">Volunteer Registration</a>
        </div>
      </section>
</body>